@mixin tipografia {
    
    justify-content: center;
    align-items: center;
    font-family: 'Cuprum', sans-serif;
    color: greenyellow;
    background-color: gray;
    
}

@mixin bordes {
    border-color: greenyellow;
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
}